/* Light Mode */
body,
.stApp {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.stSidebar {
    background-color: #f0f0f0 !important;
    color: #000000 !important;
}

.navbar-container {
    background-color: #e0e0e0 !important;
    color: black !important;
}

button {
    background-color: #007BFF !important;
    color: white !important;
    border-radius: 5px;
}

input,
textarea {
    background-color: #ffffff !important;
    color: black !important;
}
